.bankCard {
  background: rgb(44, 177, 241);
  background: linear-gradient(
    153deg,
    rgba(44, 177, 241, 1) 0%,
    rgba(189, 110, 250, 1) 50%,
    rgba(250, 147, 120, 1) 100%
  );
}

.totalBalance {
  letter-spacing: 1px;
}

.shadow {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}